@import '../styles/generalStyles';


html, body, #root{
    margin:0;
    padding:0;
}

* {
    border:none;
    @include vendor-prefix(box-sizing, border-box);
    outline:none;
}

*::-webkit-scrollbar {
  background-color: #F5F5F5;
  float: left;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 5px;
  overflow-y: scroll;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.8);;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

// end hide scrollbars

.App {
    font-family: $font-stack;
}

.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}
